include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include jrdsite *.css
recursive-include jrdsite *.csv
recursive-include jrdsite *.html
recursive-include jrdsite *.ico
recursive-include jrdsite *.js
recursive-include jrdsite *.json
recursive-include jrdsite *.md
recursive-include jrdsite *.png
recursive-include jrdsite *.py
recursive-include jrdsite *.svg
recursive-include jrdsite *.txt
recursive-exclude jrdsite *.pyc
